*{box-sizing: border-box;}

body{
    background-color: rgb(102, 187, 166);
    color:rgb(0, 0, 0);
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    font-style: italic;
    font-size: x-large;
}

nav>ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 1rem;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding-bottom: 1.5rem;
}

div>figure>img{
    padding: 2rem;
    display: inline-block;
    border: 4px groove;
}